body {
    /* to actually resize text on ios */
    -webkit-text-size-adjust: 100%;
    background-color: #000;
}

#main *, textarea {
    background-color: transparent;
    text-align: center;
    font-family: 'Muli', sans-serif;
    color: #fff;
}
textarea {
    width: 100%;
    padding: 0;
    border: none;
    resize: none;
    font-size: 3em;
    font-weight: 400;
}

/* keep default margin-top for first h1 */
h1:not(:first-of-type) {
    margin-top: 0;
}
/* clock based widgets */
.clock, .timer, .stopwatch, .countdown {
    margin-bottom: 0.1em;
    font-size: 6em;
    font-weight: 300;
}
/* text based widgets */
.error, .text {
    margin-bottom: 0.2em;
    font-size: 3em;
    font-weight: 400;
}
.clock {
    cursor: none;
}

footer {
    width: 100%;
    position: fixed;
    bottom: 0;
    text-align: center;
    font-family: 'Muli', sans-serif;
    font-size: 0.75em;
}
footer p, footer a {
    color: #282828;
}
footer a:hover {
    color: #343434;
}
