body {
   background-color: #000000;
}
#main * {
   color: #ffffff;
}
footer p, footer a {
   color: #282828;
}
footer a:hover {
   color: #343434;
}
textarea {
   width: 100%;
   background-color: #000000;
   border: none;
   resize: none;
   font-size: 100px;
   font-weight: 300;
}
