body {
   /*background-image: url("https://i.imgur.com/Qx3Rg38.jpg");*/
   background-color: #000000;
}
#main *, textarea {
   color: #ffffff;
}
h1:not(:first-of-type) {
    margin-top: 0;
}
footer p, footer a {
   color: #282828;
}
footer a:hover {
   color: #343434;
}
textarea {
   width: 100%;
   border: none;
   resize: none;
   font-size: 100px;
   font-weight: 300;
}
/* for finished timers */
#main .finished {
    color: #ff0000;
}
